
$background-color: #F9F8F3

$body-overlay-color: none

$body-font-family: "Familjen Grotesk", sans-serif
$heading-font-family: $body-font-family

$header-color: white
$header-background: transparent
$header-dropdown-background: white
$header-dropdown-color: black
$header-border-bottom-width: 0
$header-sticky-background: white 
$header-sticky-color: black 
$header-dropdown-full: false

$hero-color: white
$hero-background-color: linear-gradient(to right top, #EA5C1F, #744BFB)

// $line-height-base: 1.6

$h1-size-desktop: px2rem(90)
$h2-size-desktop: px2rem(30)

// $heading-font-weight: bold
