@font-face
    font-family: "Familjen Grotesk"
    font-display: "swap"
    font-style: "normal"
    font-weight: 400
    src: url("../fonts/familjen-grotesk/FamiljenGrotesk-Regular.woff2") format("woff2"), url("../fonts/familjen-grotesk/FamiljenGrotesk-Regular.woff") format("woff")

@font-face
    font-family: "Familjen Grotesk"
    font-display: "swap"
    font-style: "normal"
    font-weight: 700
    src: url("../fonts/familjen-grotesk/FamiljenGrotesk-Bold.woff2") format("woff2"), url("../fonts/familjen-grotesk/FamiljenGrotesk-Bold.woff") format("woff")

hr
    background: linear-gradient(90deg, #EAB849 0%, #44D3D3 100%)

.hero
    background: linear-gradient(75.96deg, #EA5C1F 0%, #744BFB 100%)
    picture
        display: none

h1
    font-weight: 700

header[role="banner"]
    .logo 
        img
            width: 200px
            height: auto
    &.is-sticky
        .logo
            filter: invert(1)

    .menu
        font-weight: normal