.hero
    background: linear-gradient(75.96deg, #EA5C1F 0%, #744BFB 100%)
    &::after
        content: ""
        background-image: url("/assets/images/tactic.png")
        background-size: 200px
        top: 0
        left: 0
        right: 0
        bottom: 0
        position: absolute
        opacity: 0.1
    picture
        display: none