@font-face
    font-family: "Familjen Grotesk"
    font-display: "swap"
    font-style: "normal"
    font-weight: 400
    src: url("../fonts/familjen-grotesk/FamiljenGrotesk-Regular.woff2") format("woff2"), url("../fonts/familjen-grotesk/FamiljenGrotesk-Regular.woff") format("woff")

@font-face
    font-family: "Familjen Grotesk"
    font-display: "swap"
    font-style: "normal"
    font-weight: 700
    src: url("../fonts/familjen-grotesk/FamiljenGrotesk-Bold.woff2") format("woff2"), url("../fonts/familjen-grotesk/FamiljenGrotesk-Bold.woff") format("woff")

main
    background-color: $main-background-color

.lead
    font-weight: normal